apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaytu-aws-describer
  namespace: {{ .Release.Namespace }}
  labels:
    app: kaytu-aws-describer
spec:
  minReadySeconds: 10
  {{- if eq .Values.keda.enabled true }}
  replicas: 1
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: kaytu-aws-describer
  template:
    metadata:
      labels:
        app: kaytu-aws-describer
    spec:
      serviceAccountName: kaytu-aws-describer
      containers:
        - name: kaytu-aws-describer
          image: "{{ .Values.opengovernance.docker.registry }}/og-aws-describer:{{ .Values.opengovernance.docker.tags.describeWorkerAWS }}"
          command: ["/og-aws-describer"]
          imagePullPolicy: Always
          #resources:
          #  limits:
          #    cpu: 500m
          #    memory: 1Gi
          #  requests:
          #    cpu: 100m
          #    memory: 300Mi
          env:
            - name: AWS_DESCRIBER_NATS__URL
              value: "{{ .Release.Name }}-nats.{{ .Release.Namespace }}.svc.cluster.local:4222"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaytu-azure-describer
  namespace: {{ .Release.Namespace }}
  labels:
    app: kaytu-azure-describer
spec:
  minReadySeconds: 10
  {{- if eq .Values.keda.enabled true }}
  replicas: 1
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: kaytu-azure-describer
  template:
    metadata:
      labels:
        app: kaytu-azure-describer
    spec:
      serviceAccountName: kaytu-azure-describer
      containers:
        - name: kaytu-azure-describer
          image: "{{ .Values.opengovernance.docker.registry }}/og-azure-describer:{{ .Values.opengovernance.docker.tags.describeWorkerAzure }}"
          command: ["/og-azure-describer"]
          imagePullPolicy: Always
          #resources:
          #  limits:
          #    cpu: 500m
          #    memory: 1Gi
          #  requests:
          #    cpu: 100m
          #    memory: 300Mi
          env:
            - name: AZURE_DESCRIBER_NATS__URL
              value: "{{ .Release.Name }}-nats.{{ .Release.Namespace }}.svc.cluster.local:4222"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaytu-aws-describer-manuals
  namespace: {{ .Release.Namespace }}
  labels:
    app: kaytu-aws-describer-manuals
spec:
  minReadySeconds: 10
  {{- if eq .Values.keda.enabled true }}
  replicas: 0
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: kaytu-aws-describer-manuals
  template:
    metadata:
      labels:
        app: kaytu-aws-describer-manuals
    spec:
      serviceAccountName: kaytu-aws-describer
      containers:
        - name: kaytu-aws-describer
          image: "{{ .Values.opengovernance.docker.registry }}/og-aws-describer:{{ .Values.opengovernance.docker.tags.describeWorkerAWS }}"
          command: ["/og-aws-describer"]
          imagePullPolicy: Always
          #resources:
          #  limits:
          #    cpu: 500m
          #    memory: 1Gi
          #  requests:
          #    cpu: 100m
          #    memory: 300Mi
          env:
            - name: AWS_DESCRIBER_NATS__URL
              value: "{{ .Release.Name }}-nats.{{ .Release.Namespace }}.svc.cluster.local:4222"
            - name: MANUAL_TRIGGERS
              value: "true"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaytu-azure-describer-manuals
  namespace: {{ .Release.Namespace }}
  labels:
    app: kaytu-azure-describer-manuals
spec:
  minReadySeconds: 10
  {{- if eq .Values.keda.enabled true }}
  replicas: 0
  {{- else }}
  replicas: 3
  {{- end }}
  selector:
    matchLabels:
      app: kaytu-azure-describer-manuals
  template:
    metadata:
      labels:
        app: kaytu-azure-describer-manuals
    spec:
      serviceAccountName: kaytu-azure-describer
      containers:
        - name: kaytu-azure-describer
          image: "{{ .Values.opengovernance.docker.registry }}/og-azure-describer:{{ .Values.opengovernance.docker.tags.describeWorkerAzure }}"
          command: ["/og-azure-describer"]
          imagePullPolicy: Always
          #resources:
          #  limits:
          #    cpu: 500m
          #    memory: 1Gi
          #  requests:
          #    cpu: 100m
          #    memory: 300Mi
          env:
            - name: AZURE_DESCRIBER_NATS__URL
              value: "{{ .Release.Name }}-nats.{{ .Release.Namespace }}.svc.cluster.local:4222"
            - name: MANUAL_TRIGGERS
              value: "true"